{% extends 'base.html' %}


{% block content %}

	<br><br><br>

	<hr>

	{% if notfound %}
		<h3>{{ notfound }}</h3><br>
		<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww2.deloitte.com%2Fcontent%2Fdam%2FDeloitte%2Fus%2FImages%2Fpromo_images%2Ftechnology%2Fus-state-sponsored-cryptocurrency.jpg&f=1&nofb=1">
	{% else %}

		{% if crypto.Response %}

		<div class="media media-bordered">
		  <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimg3.wikia.nocookie.net%2F__cb20140831011551%2Fglee%2Fimages%2F2%2F2b%2FI_don%27t_know_her.gif&f=1&nofb=1" class="mr-3" alt="Kat">
		  <div class="media-body">
		    <h1 class="mt-0">Sorry,</h1>
		    <h3><span class="badge badge-warning"> <b>{{ quote }}</b> </span>That's not a crypto. Please Try Again.....</h3>
		  </div>
		</div>

			
			  

		{% endif %}
		{% for key,value in crypto.DISPLAY.items %}

			<div class="jumbotron">
			    <h1 class="display-4">{{ key }}</h1>
			    	  <strong>Name</strong>:{{ key }}<br>
				      <strong>Price</strong>:{{ value.USD.PRICE }}<br>
				      <strong>Change Day</strong>:{{ value.USD.CHANGEDAY }}<br>
				      <strong>Market Cap</strong>:{{ value.USD.MKTCAP }}<br>
			</div>
			<br><br>

	    {% endfor %}

    {% endif %}


{% endblock %}